<h1>Welcome to</h1>
<h4>WATERING CAN!</h4>

<div class="index-info">
<%= link_to 'Add Your Home...', new_home_path %>


  <% @homes.each do | home | %>
    <div class="list-group-item">
      <ul class="home">
        <li class="home_name"><%= link_to(home.name, home_path(home))%></li> 

        <li><%= link_to('EDIT', edit_home_path(home.id)) %></li> 
        <li><%= link_to('DELETE', home_path(home.id), method: :delete) %></li>
      </ul>
    </div>
</div>    
  <% end %>

