

body {
  margin: 0 auto;
  font-family: Helvetica;
  background-image: url('wateringcan.png');
  background-size: cover;
  text-decoration: none;
}

head {
  margin: 0 auto;
  padding: none;
}

nav {
  text-align: center;
  background-color: rgba(3, 206, 109, 0.5);
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.nav-bar {
  padding: 30px;
  text-decoration: none;
}

h1 {
  color: rgb(255, 55, 43);
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

h4 {
  color: rgb(255, 55, 43);
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.index-info {
  text-align: center;
}

.plants-list {

  border: 2px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: 0 60px 50px 50px;
  display: inline-block;
  background-color: rgba(0, 155, 98, 0.5);
}

.plant_name {

  border: 2px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: 0 auto;
  background-color: rgba(0, 155, 98, 0.5);
}

/*.container-2 {
  width: 300px;
  height: 300px;

}*/

.container-2 ul {
  list-style-type: none;
}

.watering-info {

  border: 2px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;

}

.list-plants {
  display: inline-block;
}



.flip-container {
  perspective: 1000;
}
  
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 300px;
  height: 300px;
}


.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}


.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}


.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}


.back {
  transform: rotateY(180deg);
}

.nav-link {
  text-decoration: none;
}

.nav-bar {
  list-style-type: none; 
}